<!DOCTYPE html>
<html>
	<head>
	    <title>PYAAS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <link rel="stylesheet" href="http://localhost:9023/css/styles.css">
	</head>
	<body>
	<div class='login'>
              <div class="logo">
                  <div class = "logoImg" >
                    <img src="http://localhost:9023/images/vws.png" class="Profile-logo" alt="logo" />
                  </div>
                  <div class = "logoText">
                      <span> Authentication </span>
                  </div>
                  <div class = "loginData">
					  <form action="login" method="post">
							<input type='text' placeholder='user name' name = "user" class='input-line' required></input>
							<br />
							<input type='password' placeholder='password' name = "password" class='input-line' required></input>
							<button class="SignIn" > Sign In</button>
					  </form>
                  </div>
              </div>
           </div>
	</body>
</html>		   